.portfolio {
    .portfolioBody {

        .portfolioBtn {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 0 50px 0;

            button {
                padding: 5px 15px;
                margin: 0 10px 0 0;
                background-color: transparent;
                color: var(--main-gray-light);
    
                &:hover {
                    background-color: var(--main-blue-light);
                }
    
                &:active {
                    background-color: var(--main-blue);
                }
            }
    
            button.active {
                background-color: var(--main-blue);
                color: var(--main-blue-light);
            }
        }


        .portfolioGrid {
            width: 75%;
            margin: 0 auto;
            display: grid; 
            grid-template-columns: 30% 30% 30%; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 10px; 
            grid-template-areas: 
                "IMG-2 IMG-3 IMG-4"
                "IMG-5 IMG-1 IMG-1"
                "IMG-6 IMG-1 IMG-1";
                
            .onePortfolio {
                position: relative;
                transition-duration: 0.2s;
                border-radius: 5px;
                cursor: pointer;

                &:hover {
                    img {
                        z-index: 1;
                    }

                    .info {
                        z-index: 2;
                        opacity: 1;
                    }
                }

                img {
                    width: 100%;
                    z-index: 2;
                    transition-duration: 0.2s;
                    border-radius: 5px;
                    height: 100%;
                }
                
                .info {
                    position: absolute;
                    display: flex;
                    align-items: flex-end;
                    padding: 15px;
                    top: 0;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(224, 224, 224, 0.05), var(--main-blue));
                    transition-duration: 0.2s;
                }
            }
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100vw;
            height: 100vh;


            .shadow {
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(5px);
                top: 0;
                left: 0;
                cursor: pointer;
            }
    
            .submodal {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 90vw;
                max-width: 1420px;
                margin: 0 auto;
                padding: 15px;
                border-radius: 5px;

                i {
                    position: absolute;
                    top: 5px;
                    right: 10px;
                    color: var(--main-blue);
                    font-size: 30px;
                    cursor: pointer;
                    transition-duration: 0.2s;
    
                    &:hover {
                        color: var(--main-blue-light);
                    }
            
                }
    
                img {
                    max-height: 70vh;
                    max-width: 100%;
                    border-radius: 5px;
                }
    
                p {
                    font-size: 25px;
                    padding-top: 15px;
                    font-weight: 700;
                    color: var(--main-blue-light);
                }
            }
        }
    }
}

@media screen and (max-height: 800px) {
    .portfolio .portfolioBody .modal {
        .submodal {
            top: 55%;

        }
    }
}


@media screen and (max-height: 600px) {
    .portfolio .portfolioBody .modal {
        .submodal {
            p  {
                display: none;
            }
        }
        
    }
}

@media screen and (max-width: 700px) {
    .portfolio .portfolioBody .portfolioGrid {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .portfolio .portfolioBody .portfolioGrid {
        width: 90%;
    }
}