.portfolio {
    .portfolioBody {
        max-width: 1420px;
        margin: 75px auto;

        .portfolioBtn {
            display: flex;
            justify-content: center;
            margin: 0 0 50px 0;
            button {
                padding: 5px 15px;
                margin: 0 10px 0 0;
                background-color: transparent;
                color: var(--main-gray-light);
    
                &:hover {
                    background-color: var(--main-blue-light);
                }
    
                &:active {
                    background-color: var(--main-blue);
                }
            }
    
            button.active {
                background-color: var(--main-blue);
                color: var(--main-blue-light);
            }
        }


        .portfolioGrid {
            width: 50%;
            margin: 0 auto;
            display: grid; 
            grid-template-columns: 30% 30% 30%; 
            grid-template-rows: 1fr 1fr 1fr; 
            gap: 10px; 
            grid-template-areas: 
                "IMG-2 IMG-3 IMG-4"
                "IMG-5 IMG-1 IMG-1"
                "IMG-6 IMG-1 IMG-1";
                
            .onePortfolio {
                position: relative;
                transition-duration: 0.2s;
                border-radius: 5px;

                &:hover {
                    img {
                        z-index: 1;
                    }

                    .info {
                        z-index: 2;
                        opacity: 1;
                    }
                }

                img {
                    width: 100%;
                    z-index: 2;
                    transition-duration: 0.2s;
                    border-radius: 5px;
                }
                
                .info {
                    position: absolute;
                    display: flex;
                    align-items: flex-end;
                    padding: 15px;
                    top: 0;
                    opacity: 0;
                    height: 100%;
                    width: 100%;
                    background: linear-gradient(rgba(224, 224, 224, 0.055), rgb(0, 0, 0));
                    transition-duration: 0.2s;
                }
            }
        }
    }
}