@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

html,
body {
  padding: 0;
  margin: 0;
  overflow-X: hidden;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-blue-dark);
  scroll-behavior: smooth;
}

:root {
  --main-blue-dark: #090A1A;
  --main-blue: #222752;
  --main-blue-light: #4a56ad;
  --main-blue-light2: #8791e4;
  --main-gray: #b3b3b4;
  --main-gray-light: #d8d8da;
}

code {
  
  font-family: 'Montserrat', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--main-gray);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c4c4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-blue-dark);
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 75px;
  text-align: center;
}

h1, h2 {
  color: var(--main-gray);
}

button {
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 0.2s;
}

.swiper {
  position: unset !important;
}

.swiper-container {
  padding: 75px 0 !important;
  position: initial !important;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--main-blue) !important;
  top: 35% !important;
  transition-duration: 0.2s;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--main-blue-light) !important;
}

.swiper-button-prev {
  left: -50px !important;
}

.swiper-button-next {
  right: -50px !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .swiper-button-prev {
    left: -30px !important;
  }
  
  .swiper-button-next {
    right: -30px !important;
  }
}