.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 10%;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgba(22, 22, 22, 0.5);
    backdrop-filter: blur(2px);
    z-index: 1000;
    box-shadow: 0 0 9px 0 black;

    .switch {
        background-color: transparent;
    }

    p {
        color: var(--main-blue-light);
        font-size: 25px;
        font-weight: bold;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            a {
                padding: 5px 15px;
                margin: 0 5px;
                background-color: transparent;
                color: var(--main-gray-light);
                border-radius: 5px;
                transition-duration: 0.2s;

                &:hover {
                    background-color: var(--main-blue-light);
                }

                &:active {
                    background-color: var(--main-blue);
                }
            }

            
        }

        li.active {
            a {
                background-color: var(--main-blue);
                color: var(--main-blue-light2);
            }
        }
    }
    
    .buttonContact {
        background-color: transparent;

        a {
            border: 2px solid var(--main-blue);
            color: var(--main-gray-light);
            padding: 15px 25px;
            background-color:  transparent;
            border-radius: 5px;
            transition-duration: 0.2s;

            &:hover {
                background-color: var(--main-blue-light);
            }

            &:active {
                background-color: var(--main-blue);
            }
        }
    }

    .buttonContact3 {
        display: none;
    }

    .burger, .sidebar {
        display: none;
    }
}

@media screen and (max-width: 1420px) {
    .header {
        padding: 15px 5%;

        ul li a {
            margin: 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {

        .switch, .buttonContact, .buttonContact3 {
            display: block !important;
        }

        .buttonContact2 {
            display: none !important;
        }

        ul {
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: 50px 0;
            height: 100vh;
            width: 70vw;
            top: 0;
            right: 0;
            transform: translateX(100%);
            background-color: var(--main-blue);
            transition-duration: 0.2s;
            z-index: 3;

            li {
                a {
                    margin: 5px 0;
                }
            }
        }

        .menuActive {
            transform: translateX(0);
        }

        button {
            display: none;
        }

        .sidebar {
            display: block;
            width: 100vw;
            height: 100vh;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 2;
            transition-duration: 0.3s;
            background-color: rgba(0, 0, 0, 0.3);
            transform: translateX(100%);
        }

        .sidebarActive {
            transform: translateX(0);
        }

        .burger {
            display: block;
            z-index: 4;

            div {
                background-color: whitesmoke;
                height: 3px;
                width: 25px;
                border-radius: 5px;
                margin: 5px 0;
                transition-duration: 0.2s;
            }
        }

        .burgerActive {
            .top {
                transform: translateY(4px) rotate(45deg);
            }
            .middle {
                display: none;
            }
            .bottom {
                transform: translateY(-4px) rotate(-45deg);
            }
        }
    }
}